<!DOCTYPE html>



<html lang="en" xmlns="http://www.w3.org/1999/xhtml">

<head>

<meta charset="utf-8" />

<title>PhoneCat</title>


</head>

<body>

	<div style="text-align: center;">
		<div style="height: 100px;"></div>
		<div style="font-size: 20px;">Welcome to PhoneCat!</div>
		<div>

			<img src="resource/logo.png" />



		</div>
		<div style="height: 100px;"></div>
		<div class="host-bottom">Copyright &copy; 2014 - 2015
			PhoneCat.cn</div>

	</div>
</body>

</html>

